@font-face {
    font-family: airport;
    src: url(../font/Airport.ttf);
}
@font-face {
    font-family: font2;
    src: url(../font/OKScU8ig.ttf);
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #E6E6FA, #9370DB);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div{
    box-sizing: border-box;
}
.header{
    display: flex;
}
.header-text{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transform: rotate(-5deg);
    text-shadow: 1px 1px 1px #800080, 2px 2px 3px #4B0082;
    font-family: airport;
}
.conteiner{
    display: flex;
    flex-grow: 1;
}
nav{
    margin: 0 30px;
}
nav>ul{
    list-style: none;
    padding: 0;
}
nav>ul li{
    display: block;
    font-family: font2;
}
footer{
    height: 40px;
}